<div class="nav">
    <img class ="pic" src="/images/pngegg.png" alt="">
    <div class="words">
        <div class="word"><a class="navLink" href="/">HOME</a></div>
        <div class="word"><a class="navLink" href="/albums">VIEW ALL</a></div>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              ALBUMS
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" href="/album/am">AM</a></li>
              <li><a class="dropdown-item" href="/album/favoriteworstnightmare">Favorite Worst Nightmare</a></li>
            </ul>
        </div>
        <div class="word"><a class="navLink" href="/contactUs">CONTACT US</a></div>
        <div class="word"><a class="navLink" href="#">CHAT ROOM</a></div>
    </div>
</div>