<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bootstrap Site</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/contactUs.css">
</head>
<body>

  <div class="wholePage">
  
    <%- include('partials/nav.ejs') %>

    <div class="container-fluid h-100">
      <div class="row">
          <div class="col-sm-4 form">
              <h1 class="feedback-form-title">Send us feedback</h1>
              <form class="feedback-form">
                  <div class="form-group">
                      <label for="feedback-form-name">Name</label>
                      <input name="name" type="text" class="form-control" id="feedback-form-name" placeholder="Enter your name">
                  </div>

                  <div class="form-group">
                      <label for="feedback-form-title">Title</label>
                      <input name="title" type="text" class="form-control" id="feedback-form-title"
                          placeholder="Title of your feedback">
                  </div>

                  <div class="form-group">
                      <label for="feedback-form-message">Message</label>
                      <textarea name="message" type="text" placeholder="Enter your message, then hit the submit" class="form-control"
                          id="feedback-form-message" rows="6"></textarea>
                  </div>
                  <button type="submit" class="submitBtn">Submit</button>
              </form>
          </div><!-- primary -->
          <aside class="col-sm-8 feedbackSide">
              <div class="maincontent feedback">
                  <h2 class="article-title">Recent Feedback</h2>
                  <div class="feedback-messages">

                  </div>
              </div>
          </aside><!-- secondary -->
      </div>
  </div><!-- container -->

    <%- include('partials/footer.ejs') %> 

  </div>
    <script src="/js/contactUsClient.js"></script>
</body>
</html>