<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Document</title>
</head>
<body>
    <div class="wholePage">
        <div class="nav">
            <div class="links">
                <img class ="pic" src="/images/pngegg.png" alt="">
                <div class="words">
                    <div class="word">HOME</div>
                    <div class="word">VIEW ALL</div>
                    <div class="word">ALBUMS</div>
                    <div class="word">CONTACT US</div>
                    <div class="word">CHAT ROOM</div>
                </div>
            </div>
        </div>
        <div class="content"></div>
        <div class="footer">
            <div class="div">example message</div>
        </div>
    </div>
</body>
</html>