.inputAndButton{
    display: flex;
    flex-direction: column;
}
.chatSubmit{
    width: 70px;
}
.chatForm{
    width: 400px;
}
.mainContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 191, 71);

}
.panel{
    width: 50%;
}
.chatMessage{
    width: 300px;
}
p{
    margin: 0px;
}
.footer{
    position: fixed;
    bottom: 0px;
    width: 100%;
}
.header{
    position: fixed;
    top: 0px;
}
.mainContent{
    height: 80%;
}
.chatDisplay{
    width: 400px;
    height: 300px;
    border: solid black 3px;
    margin-right: 0px;
}
.startMessage{
    text-align: center;
}
.userMessages{
    padding-left: 10px;
    padding-right: 10px;
    background-color: black;
    color:rgb(255, 191, 71);
}
.chatDisplay {
    /* background-color: rgba(0, 0, 0, 0.3); */
    background-color: white;
    overflow-y: scroll;
    /* background-color: rgba(255, 191, 71, 0.9); */
}
/* .chatDisplay::-webkit-scrollbar {
    width: 3px;
    
}
.chatDisplay::-webkit-scrollbar-thumb {
    background-color: rgb(67, 176, 241); 
    border-radius: 3px; 
} */
.chatDisplay::-webkit-scrollbar{
    display: none;
}