body{
    margin: 0px;
}
.wholePage{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-content:space-between;
}
.nav{
    background-color: black;
    height: 10%;
    color: white;
}
.links{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}
.words{
    display: flex;
    width: 50%;
    height: 100%;
    justify-content: space-between;
    margin-right: 20px;
}
.word{
    margin-right: 10px;
    display: flex;
    align-items: center;
}
.content{
    height: 80%;
    background-image: url("/images/spaceCar.jpg");
    background-size: contain;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.footer{
    height: 10%;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pic{
    height: 100%;
    width: 100px;
    margin-left: 20px;
}