body{
    margin: 0px;
}
.wholePage{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-content:space-between;
}
.nav{
    background-color: black;
    height: 10%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.words{
    display: flex;
    width: 50%;
    height: 100%;
    justify-content: space-between;
    margin-right: 20px;
}
.word{
    margin-right: 10px;
    display: flex;
    align-items: center;
}
.content{
    height: 80%;
    background-image: url("/images/spaceCar.jpg");
    background-size: 800px 101%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(255, 191, 71);
}
.footer{
    height: 10%;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pic{
    height: 100%;
    width: 100px;
    margin-left: 20px;
}
.dropdown{
    display: flex;
    align-items: center;
}
.navLink{
    display: flex;
    flex-wrap: nowrap;
    text-decoration: none;
    color: white;
}
.navLink:hover{
color:rgb(255, 191, 71);
}
.btn{
    background-color: transparent;
    border: none;
}
.btn:hover{
    background-color: black;
    color:rgb(255, 191, 71);
}
.btn:active{
    /* border: none; */
    box-shadow: none;
    outline: none;
}
.btn:focus{
    border: black;
    background-color: black;
    box-shadow: none;
}
.dropdown-menu{
    background-color:rgb(255, 191, 71);
}
.dropdown-item:hover{
    background-color: black;
    color:rgb(255, 191, 71)
}
@media only screen and (max-width: 600px) {
    .nav{
        flex-direction: column;
    }
    .pic{
        height: 50px;
        width: 50px;
        margin: 0px;
    }
    .words{
        height: auto;
        margin: 0px;
    }
    .navLink{
        font-size: 10px;
    }
    .btn{
        padding: 0px;
        margin-right: 10px;
        font-size: 10px;
    }
    .footerMessage{
        font-size: 10px;
    }
  }
@media only screen and (max-width: 795px) {
    .content{
        background-size: contain;
    }
  }
@media only screen and (max-width: 1040px) {
    .navLink{
        white-space: nowrap;
    }
    .nav{
        justify-content: center;
        width: 100%;
    }
    .words{
        width: auto;
    }
  }